@keyframes slideDown {
  from {
    max-height: 0;
    opacity: 0;
  }
  to {
    max-height: 500px;
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    max-height: 500px;
    opacity: 1;
  }
  to {
    max-height: 0;
    opacity: 0;
  }
}

.subMenu {
  margin-left: 20px;
  padding-left: 20px;
  margin-top: 5px;
  border-left: 1px solid #f6f6f6;
  overflow: hidden;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.open {
  animation-name: slideDown;
}

.close {
  animation-name: slideUp;
}

.subMenuLink {
  padding: 10px 8px;
  font-size: 12px;
}

.li {
  list-style: none;
  margin-bottom: 5px;
}

.link {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 500;
  color: #757575;
  text-decoration: none;
  padding: 12px 8px;
  border-radius: 8px;
  transition: all 0.3s;
}

.link:hover {
  color: #000;
  background-color: #b5b5b5;
}

.text {
  flex: 1;
}
