.sidebar {
  width: 256px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  padding: 24px;
  gap: 10px;
  border-radius: 30px;
  /* position: absolute; */
}

.menuTitle {
  font-size: 10px;
  font-weight: 500;
  color: #757575;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.icon {
  font-size: 20px;
}

.nav {
  flex: 1;
}

.menu:not(:last-child) {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 2px solid #ededed;
}
