.li {
  list-style: none;
  margin-bottom: 5px;
}

.link {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 500;
  color: #757575;
  text-decoration: none;
  padding: 12px 8px;
  border-radius: 8px;
  transition: all 0.3s;
}
.active,
.link:hover {
  color: #000;
  background-color: #b5b5b5;
}

.text {
  flex: 1;
}
.arrow {
  font-size: 14px;
}

.rotate {
  transform: rotate(180deg);
}
